@tailwind base;

@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-size: 16px;
    @media screen(xs) {
      font-size: 14px;
    }
    @media screen(sm) {
      font-size: 16px;
    }
    @media screen(md) {
      font-size: 18px;
    }

    @media screen(lg) {
      font-size: 20px;
    }
    @media screen(2xl) {
      font-size: 22px;
    }
  }
}
.card{
    border-radius: 0.2rem !important;
}
.btn{
  border-radius: 3px;
}

img {
  user-select: none;
}

